.button-type {
    padding: 0px 25px;
    margin: 7px 7px;
    height: 40px;
    border-radius: 18px;
    border: none;
}

.button-type.active {
    outline: 7px solid #01c4ff;
    outline-style: dashed;
}

.ant-btn-primary {
    color: #000;
}

.filter-container {
    text-align: center;
}

.divider {
    text-align: center;
    display: inline;
    margin-bottom: 10px;
    img {
        width: 30px;
        margin-right: 10px;
    }
    span {
        color: white;
        font-size: 15px;
    }
}
