.header-container {
    text-align: center;
    .logo {
        width: 250px;
    }
    .subtitle {
        color: white;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Permanent Marker', cursive;
    }
}
